{% extends 'base.html' %}
{% load static %}

{% block title %}Detect Mask{% endblock %}
  
{% block nav %}
    <a class='nav-link' href="{% url 'home' %}">Home</a>
    <a class='nav-link active' href="{% url 'detect' %}">Detect</a>
    <a class='nav-link' href="#">Transcribe</a>
{% endblock %}

{% block content %}
  <div>
    <video autoplay='true' id='videoElement' class='flip border border-5 border-dark'></video>
    <p>This is some text.</p>
  </div>
  {% comment %} <div>
    <img id='screenshot-img' class='flip' src="">
    <canvas style='display: none;'></canvas>
  </div> {% endcomment %}
  {% comment %} <button id='screenshot-button' onclick="snap()">Take Screenshot</button> {% endcomment %}
  <script src="{% static 'js/webcam.js' %}"></script>
  <script src="{% static 'js/screenshot.js' %}"></script>
{% endblock %}

  
